* {
    box-sizing: border-box;
  }

.container {
    display: flex;
    align-items: stretch;
    height: 300px;
    background: rebeccapurple;
    color: goldenrod;
}

.container > div {
    border: 1px solid goldenrod;
    width: 200px;
    background: white;
    overflow: hidden;
}

.one {
    flex-basis: 400px;
}

.two {
    flex: 0 1 400px;
}

.three {
    align-self: center;
}

.four {
    align-self: flex-end;
}

.five {
    flex-shrink: 0;
}

.six {
    align-self: flex-start;
}

ul li a {
    padding: 10px 15px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 1.2em;
    background: #222;
    text-decoration: none;
}

ul li a:hover {
    background: #444;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px;
  background: black;
  color: white;
}

@media (max-width: 600px) {
    ul {
        flex-direction: column;
    }
    .container {
        flex-direction: column;
    }
}